button {
  cursor: pointer; // Curseur en forme de main au survol
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: none; // Suppression du cadre
  background-color: transparent;  //suppression de la couleur de fond
  // Effet de survol
  &:hover {
    transform: scale(1.05);  // Légère augmentation de taille
  }

  // Effet au clic
  &:active {
    transform: scale(0.98);    // Réduction de la taille au clic
  }
}
:host,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  flex-shrink: 0;
  text-decoration: none;
  min-width: 0;
  overflow-wrap: anywhere;
}

:host,
:not(span, a, ul, ol, li, p) {
  display: flex;
}

ul,
ol {
  text-indent: 0;
  padding-inline-start: 1.5em;
}

p:empty::before {
  content: '';
  display: inline-block;
}

img {
  object-fit: contain;
}

svg {
  overflow: visible;
}

:host {
  position: relative;
  width: 1440px;
  height: min-content;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  overflow: hidden;
}

.header {
  z-index: 10;
  position: relative;
  left: -30%;
  width: 20%;
  height: min-content;
  padding-top: 3%;
  justify-content: space-between;
  align-items: center;
  gap: 182px;
  &__group1000002517 {
    position: relative;
    width: 149px;
    height: 50px;
    &__logo1 {
      position: absolute;
      left: 0;
      right: 78.5235%;
      top: 0;
      bottom: 0;
      width: 32px;
      height: 50px;
      overflow: visible;
      &__icon7 {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__chiiiz {
      background-image: linear-gradient(247.6deg, #7d00deff 0%, #f6018dff 100%);
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 40px;
      font-family: Arciform Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
      letter-spacing: 0.05em;
      position: absolute;
      left: 34.8993%;
      right: 0;
      top: 10%;
      bottom: 10%;
      width: min-content;
      height: min-content;
      white-space: nowrap;
      flex-direction: column;
    }
  }
  &__nav {
    width: min-content;
    height: min-content;
    align-items: center;
    gap: 73px;
    &__propos {
      color: #570695;
      font-size: 16px;
      font-weight: 600;
      font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
      width: min-content;
      height: min-content;
      white-space: nowrap;
      flex-direction: column;
    }
    &__nosOffres2 {
      color: #570695;
      font-size: 16px;
      font-weight: 600;
      font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
      width: min-content;
      height: min-content;
      white-space: nowrap;
      flex-direction: column;
    }
    &__contact {
      color: #570695;
      font-size: 16px;
      font-weight: 600;
      font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
      width: min-content;
      height: min-content;
      white-space: nowrap;
      flex-direction: column;
    }
    &__frame1000002518_3 {
      width: min-content;
      height: min-content;
      align-items: center;
      gap: 4px;
      &__plus {
        color: #570695;
        font-size: 16px;
        font-weight: 600;
        font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
          'Liberation Sans', sans-serif;
        width: min-content;
        height: min-content;
        white-space: nowrap;
        flex-direction: column;
      }
      &__vector {
        width: 8px;
        height: 4.9433px;
        overflow: visible;
        &__icon8 {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  &__frame3 {
    width: min-content;
    height: min-content;
    &__frame1 {
      width: 152px;
      height: 58px;
      justify-content: center;
      align-items: center;
      padding: 18px 43px;
      border-radius: 100px;
      background-image: linear-gradient(249.1deg, #7d00deff 0%, #f6018dff 100%);
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto;
      box-shadow: 0px 1.8519px 3.1481px 0px #f2019006, 0px 8.1481px 6.5185px 0px #f201900a, 0px 20px 13px 0px #f201900d,
        0px 38.5185px 25.4815px 0px #f201900f, 0px 64.8148px 46.8519px 0px #f2019013, 0px 100px 80px 0px #f201901a;
      &__rserver {
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
          'Liberation Sans', sans-serif;
        width: min-content;
        height: min-content;
        text-align: center;
        align-items: center;
        white-space: nowrap;
        flex-direction: column;
      }
    }
  }
}