<div class="header">
    <button class="button">
      <div class="header__group1000002517">
        <div class="header__group1000002517__logo1">
          <img src="assets/logo-1-icon.svg" alt="" class="header__group1000002517__logo1__icon7" />
        </div>
        <div class="header__group1000002517__chiiiz">Chiiiz</div>
      </div>
    </button>
    <div class="header__nav">
      <button class="button">
        <div class="header__nav__aPropos">À propos</div>
      </button>
      <button class="button">
        <div class="header__nav__nosOffres2">Nos Offres</div>
      </button>
      <button class="button">
        <div class="header__nav__contact">Contact</div>
      </button>
      <div class="header__nav__frame10000025184">
        <button class="button">
          <div class="header__nav__frame10000025184__plus">Plus</div>
          <div class="header__nav__frame10000025184__vector">
            <img src="assets/vector-icon.svg" alt="" class="header__nav__frame10000025184__vector__icon8" />
          </div>
        </button>
      </div>
    </div>
    <button class="button">
      <div class="header__frame3">
          <div class="header__frame3__frame1"><div class="header__frame3__frame1__reserver">Réserver</div></div>
      </div>
    </button>
  </div>  