<div class="header">
  <button class="button">
    <div class="header__group1000002517">
      <div class="header__group1000002517__logo1">
        <img src="assets/logo-1-icon.svg" alt="" class="header__group1000002517__logo1__icon7" />
      </div>
      <div class="header__group1000002517__chiiiz">Chiiiz</div>
    </div>
  </button>
  <div class="header__nav">
    <button class="button">
      <div class="header__nav__propos">À propos</div>
    </button>
    <button class="button">
      <div class="header__nav__nosOffres2">Nos Offres</div>
    </button>
    <button class="button">
      <div class="header__nav__contact">Contact</div>
    </button>
    <button class="button">
      <div class="header__nav__frame1000002518_3">
        <div class="header__nav__frame1000002518_3__plus">Plus</div>
        <div class="header__nav__frame1000002518_3__vector">
          <img src="assets/vector-icon.svg" alt="" class="header__nav__frame1000002518_3__vector__icon8" />
        </div>
      </div>
  </button>
  </div>
  <div class="header__frame3">
    <button class="button">
      <div class="header__frame3__frame1"><div class="header__frame3__frame1__rserver">Réserver</div></div>
    </button>
  </div>
</div>