<div class="footer">
  <div class="footer__nav_2">
    <button class="button">
      <div class="footer__nav_2__logo">
        <div class="footer__nav_2__logo__logo12">
          <img src="assets/logo1-icon.svg" alt="" class="footer__nav_2__logo__logo12__icon12" />
        </div>
        <div class="footer__nav_2__logo__chiiiz_2">Chiiiz</div>
      </div>
    </button>
    <div class="footer__nav_2__nav_3">
      <button class="button">
        <div class="footer__nav_2__nav_3__propos2">À propos</div>
      </button>
      <button class="button">
        <div class="footer__nav_2__nav_3__nosBornes">Nos Bornes</div>
      </button>
      <button class="button">
        <div class="footer__nav_2__nav_3__contact_2">Contact</div>
      </button>
      <button class="button">
        <div class="footer__nav_2__nav_3__frame1000002518_5">
          <div class="footer__nav_2__nav_3__frame1000002518_5__plus_2">Plus</div>
          <div class="footer__nav_2__nav_3__frame1000002518_5__vector_2">
            <img src="assets/vector2-icon.svg" alt="" class="footer__nav_2__nav_3__frame1000002518_5__vector_2__icon13" />
          </div>
        </div>
    </button>
    </div>
  </div>
  <div class="footer__line"><img src="assets/line-icon.svg" alt="" class="footer__line__icon14" /></div>
  <div class="footer__footer2">
    <div class="footer__footer2__copyright2024ChiizTousDroitsRs">Copyright © 2024 Chiiz. Tous droits réservés.</div>
    <div class="footer__footer2__frame1000002519_5">
      <img src="assets/frame-10000025195-icon.svg" alt="" class="footer__footer2__frame1000002519_5__icon15" />
    </div>
    <div class="footer__footer2__frame1000002519_6">
      <div class="footer__footer2__frame1000002519_6__conditionsDutilisation">Conditions d&amp;#39;utilisation</div>
      <div class="footer__footer2__frame1000002519_6__politiqueDeConfidentialit">Politique de confidentialité</div>
    </div>
  </div>
</div>
