<div class="footer">
    <div class="footer__nav2">
      <button class="button">
        <div class="footer__nav2__logo">
          <div class="footer__nav2__logo__logo12">
            <img src="assets/logo-1-icon2.svg" alt="" class="footer__nav2__logo__logo12__icon13" />
          </div>
          <div class="footer__nav2__logo__chiiiz2">Chiiiz</div>
        </div>
      </button>
      <div class="footer__nav2__nav3">
        <button class="button">
          <div class="footer__nav2__nav3__aPropos2">À propos</div>
        </button>
        <button class="button">
          <div class="footer__nav2__nav3__nosBornes">Nos Bornes</div>
        </button>
        <button class="button">
          <div class="footer__nav2__nav3__contact2">Contact</div>
        </button>
        <button class="button">
          <div class="footer__nav2__nav3__frame10000025186">
            <div class="footer__nav2__nav3__frame10000025186__plus2">Plus</div>
            <div class="footer__nav2__nav3__frame10000025186__vector2">
              <img src="assets/vector-icon2.svg" alt="" class="footer__nav2__nav3__frame10000025186__vector2__icon14" />
            </div>
          </div>
      </button>
      </div>
    </div>
    <div class="footer__line"><img src="assets/line-icon.svg" alt="" class="footer__line__icon15" /></div>
    <div class="footer__footer2">
      <div class="footer__footer2__copyright2024ChiizTousDroitsRe">Copyright © 2024 Chiiz. Tous droits réservés.</div>
      <div class="footer__footer2__frame10000025196">
        <img src="assets/frame-1000002519-icon.svg" alt="" class="footer__footer2__frame10000025196__icon16" />
      </div>
      <div class="footer__footer2__frame10000025197">
        <div class="footer__footer2__frame10000025197__conditionsDUtilisation">Conditions d&amp;#39;utilisation</div>
        <div class="footer__footer2__frame10000025197__politiqueDeConfidentialite">Politique de confidentialité</div>
      </div>
    </div>
  </div>