
.photo-slider {
  overflow-x: auto; /* Active le défilement horizontal */
  white-space: nowrap; /* Évite le retour à la ligne */
  display: flex;
  scrollbar-width: none; /* Cache la scrollbar sur Firefox */
  -ms-overflow-style: none; /* Cache la scrollbar sur IE et Edge */
}

.photo-slider::-webkit-scrollbar {
  display: none; /* Cache la scrollbar sur Chrome, Safari et Edge */
}
.photo-container {
  display: flex;
  transition: transform 0.5s linear; /* Transition pour un effet fluide */
  gap: 10px; /* Ajoute un espacement entre les photos */
}
.home_27-1035 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0px;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  width: 1440px;
  margin: 0;            /* Supprime les marges par défaut */
  padding: 0;           /* Supprime les espacements par défaut */
  height: 100%;         /* Assure que le body prend toute la hauteur de la fenêtre */
  overflow-y: scroll;   /* Permet le défilement vertical si nécessaire */
  overflow-x: scroll;
}
button {
  cursor: pointer; // Curseur en forme de main au survol
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: none; // Suppression du cadre
  background-color: transparent;  //suppression de la couleur de fond
  // Effet de survol
  &:hover {
    transform: scale(1.05);  // Légère augmentation de taille
  }

  // Effet au clic
  &:active {
    transform: scale(0.98);    // Réduction de la taille au clic
  }
}
// :host,
// * {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
//   background: none;
//   border: none;
//   flex-shrink: 0;
//   text-decoration: none;
//   min-width: 0;
//   overflow-wrap: anywhere;
// }

:host,
:not(span, a, ul, ol, li, p) {
  display: flex;
}

ul,
ol {
  text-indent: 0;
  padding-inline-start: 1.5em;
}

p:empty::before {
  content: '';
  display: inline-block;
}

img {
  object-fit: contain;
}

svg {
  overflow: visible;
}

:host {
  position: relative;
  //largeur de la page en fonction de la taille de l'écran
  width: 90%; //changé de 1440px à 90%
  // width: 1440px ;  // Largeur de la page
  height: min-content;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  overflow:hidden;
}
.topDestinationSafeTourLandingP {
  position: relative;
  width: 100%;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 100px 132px;
  &__topDestinationsafeTourLandingP {
    width: 80%;
    height: min-content;
    align-self: stretch;
    flex-direction: column;
    gap: 50px;
    &__frame1000002522 {
      width: 100%;
      height: min-content;
      align-self: stretch;
      align-items: flex-end;
      // gap: 340px;
      &__texts {
        width: 80%;
        height: min-content;
        flex: 1;
        flex-direction: column;
        gap: 18px;
        &__nosOffres {
          color: #570695;
          font-size: 40px;
          line-height: 40px;
          font-weight: bold;
          font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
            'Liberation Sans', sans-serif;
          height: min-content;
          align-self: stretch;
          flex-direction: column;
        }
        &__trouvezLaBorneIdalePourVosVnem {
          height: min-content;
          align-self: stretch;
          flex-direction: column;
          &__textBlock3 {
            color: #676a6c;
            font-size: 18px;
            line-height: 28px;
            font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
              'Liberation Sans', sans-serif;
          }
        }
      }
      &__secondarybtn_3 {
        width: min-content;
        height: min-content;
        padding: 18px 50px;
        border-radius: 100px;
        box-shadow: 0px 1.8519px 3.1481px 0px #f2019006, 0px 8.1481px 6.5185px 0px #f201900a,
          0px 20px 13px 0px #f201900d, 0px 38.5185px 25.4815px 0px #f201900f, 0px 64.8148px 46.8519px 0px #f2019013,
          0px 100px 80px 0px #f201901a;
        &__dcouvrir {
          background-image: linear-gradient(254.8deg, #7d00deff 0%, #f6018dff 100%);
          background-position: center;
          background-repeat: no-repeat;
          background-size: auto;
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 16px;
          font-weight: bold;
          font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
            'Liberation Sans', sans-serif;
          width: min-content;
          height: min-content;
          text-align: center;
          align-items: center;
          white-space: nowrap;
          flex-direction: column;
        }
      }
    }
    &__frame1000002526 {
      width: 100%;
      height: min-content;
      align-self: stretch;
      align-items: center;
      gap: 2%;
      &__location2 {
        width: 100%;
        height: 400px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 22px 24px;
        border-radius: 20px;
        background-image: linear-gradient(180deg, #fff0 0%, #57069596 100%), url('/assets/location2.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto, contain;
        &__texts2 {
          position: relative;
          width: 166px;
          height: 50px;
          &__facebooth {
            color: #fff;
            font-size: 24px;
            line-height: 20px;
            font-weight: bold;
            font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
              'Liberation Sans', sans-serif;
            letter-spacing: -0.01em;
            position: absolute;
            left: 0;
            right: 32.5301%;
            top: 0;
            bottom: 60%;
            width: 100%;
            height: min-content;
            text-shadow: 0px 6px 15px #0003;
            white-space: nowrap;
            flex-direction: column;
          }
          &__laPlusProfessionnelle {
            opacity: 0.9;
            color: #fff;
            font-size: 16px;
            line-height: 14px;
            font-weight: 500;
            font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
              'Liberation Sans', sans-serif;
            position: absolute;
            left: 0;
            right: 0;
            top: 72%;
            bottom: 0;
            width: 100%;
            height: min-content;
            white-space: nowrap;
            flex-direction: column;
          }
        }
      }
    }
    
  }
}

// .topDestinationSafeTourLandingP {
//   position: relative;
//   width: 100%;
//   height: min-content;
//   align-self: stretch;
//   flex-direction: column;
//   padding: 100px 132px;
//   &__topDestinationsafeTourLandingP {
//     height: min-content;
//     align-self: stretch;
//     flex-direction: column;
//     gap: 50px;
//     &__frame1000002522 {
//       height: min-content;
//       align-self: stretch;
//       align-items: flex-end;
//       gap: 340px;
//       &__texts {
//         height: min-content;
//         flex: 1;
//         flex-direction: column;
//         gap: 18px;
//         &__nosOffres {
//           color: #570695;
//           font-size: 40px;
//           line-height: 40px;
//           font-weight: bold;
//           font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
//             'Liberation Sans', sans-serif;
//           height: min-content;
//           align-self: stretch;
//           flex-direction: column;
//         }
//         &__trouvezLaBorneIdalePourVosVnem {
//           height: min-content;
//           align-self: stretch;
//           flex-direction: column;
//           &__textBlock3 {
//             color: #676a6c;
//             font-size: 18px;
//             line-height: 28px;
//             font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
//               'Liberation Sans', sans-serif;
//           }
//           &__textBlock4 {
//             margin-top: 0;
//             color: #676a6c;
//             font-size: 18px;
//             line-height: 28px;
//             font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
//               'Liberation Sans', sans-serif;
//           }
//         }
//       }
//       &__secondarybtn_3 {
//         width: min-content;
//         height: min-content;
//         padding: 18px 50px;
//         border-radius: 100px;
//         box-shadow: 0px 1.8519px 3.1481px 0px #f2019006, 0px 8.1481px 6.5185px 0px #f201900a,
//           0px 20px 13px 0px #f201900d, 0px 38.5185px 25.4815px 0px #f201900f, 0px 64.8148px 46.8519px 0px #f2019013,
//           0px 100px 80px 0px #f201901a;
//         &__dcouvrir {
//           background-image: linear-gradient(254.8deg, #7d00deff 0%, #f6018dff 100%);
//           background-position: center;
//           background-repeat: no-repeat;
//           background-size: auto;
//           -webkit-background-clip: text;
//           background-clip: text;
//           -webkit-text-fill-color: transparent;
//           font-size: 16px;
//           font-weight: bold;
//           font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
//             'Liberation Sans', sans-serif;
//           width: min-content;
//           height: min-content;
//           text-align: center;
//           align-items: center;
//           white-space: nowrap;
//           flex-direction: column;
//         }
//       }
//     }
//     &__frame1000002526 {
//       height: min-content;
//       align-self: stretch;
//       align-items: center;
//       gap: 30px;
//       &__location2 {
//         width: 276px;
//         height: 400px;
//         flex-direction: column;
//         justify-content: flex-end;
//         align-items: flex-start;
//         gap: 402px;
//         padding: 22px 24px;
//         border-radius: 20px;
//         background-image: linear-gradient(180deg, #fff0 0%, #57069596 100%), url('/assets/location2.png');
//         background-position: center;
//         background-repeat: no-repeat;
//         background-size: auto, contain;
//         &__texts2 {
//           position: relative;
//           width: 166px;
//           height: 50px;
//           &__facebooth {
//             color: #fff;
//             font-size: 24px;
//             line-height: 20px;
//             font-weight: bold;
//             font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
//               'Liberation Sans', sans-serif;
//             letter-spacing: -0.01em;
//             position: absolute;
//             left: 0;
//             right: 32.5301%;
//             top: 0;
//             bottom: 60%;
//             width: min-content;
//             height: min-content;
//             text-shadow: 0px 6px 15px #0003;
//             white-space: nowrap;
//             flex-direction: column;
//           }
//           &__laPlusProfessionnelle {
//             opacity: 0.9;
//             color: #fff;
//             font-size: 16px;
//             line-height: 14px;
//             font-weight: 500;
//             font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
//               'Liberation Sans', sans-serif;
//             position: absolute;
//             left: 0;
//             right: 0;
//             top: 72%;
//             bottom: 0;
//             width: min-content;
//             height: min-content;
//             white-space: nowrap;
//             flex-direction: column;
//           }
//         }
//       }
//       &__location3 {
//         width: 276px;
//         height: 400px;
//         flex-direction: column;
//         justify-content: flex-end;
//         align-items: flex-start;
//         gap: 402px;
//         padding: 22px 24px;
//         border-radius: 20px;
//         background-image: linear-gradient(180deg, #fff0 0%, #57069596 100%), url('/assets/location3.png');
//         background-position: center;
//         background-repeat: no-repeat;
//         background-size: auto, contain;
//         &__texts_2 {
//           position: relative;
//           width: 166px;
//           height: 50px;
//           &__labelbox {
//             color: #fff;
//             font-size: 24px;
//             line-height: 20px;
//             font-weight: bold;
//             font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
//               'Liberation Sans', sans-serif;
//             letter-spacing: -0.01em;
//             position: absolute;
//             left: 0;
//             right: 42.1687%;
//             top: 0;
//             bottom: 60%;
//             width: min-content;
//             height: min-content;
//             text-shadow: 0px 6px 15px #0003;
//             white-space: nowrap;
//             flex-direction: column;
//           }
//           &__laPlusProfessionnelle2 {
//             opacity: 0.9;
//             color: #fff;
//             font-size: 16px;
//             line-height: 14px;
//             font-weight: 500;
//             font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
//               'Liberation Sans', sans-serif;
//             position: absolute;
//             left: 0;
//             right: 0;
//             top: 72%;
//             bottom: 0;
//             width: min-content;
//             height: min-content;
//             white-space: nowrap;
//             flex-direction: column;
//           }
//         }
//       }
//       &__location4 {
//         width: 276px;
//         height: 400px;
//         flex-direction: column;
//         justify-content: flex-end;
//         align-items: flex-start;
//         gap: 402px;
//         padding: 22px 24px;
//         border-radius: 20px;
//         background-image: linear-gradient(180deg, #fff0 0%, #57069596 100%), url('/assets/location4.png');
//         background-position: center;
//         background-repeat: no-repeat;
//         background-size: auto, contain;
//         &__texts_3 {
//           position: relative;
//           width: 166px;
//           height: 50px;
//           &__labelboxMini {
//             color: #fff;
//             font-size: 24px;
//             line-height: 20px;
//             font-weight: bold;
//             font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
//               'Liberation Sans', sans-serif;
//             letter-spacing: -0.01em;
//             position: absolute;
//             left: 0;
//             right: 10.8434%;
//             top: 0;
//             bottom: 60%;
//             width: min-content;
//             height: min-content;
//             text-shadow: 0px 6px 15px #0003;
//             white-space: nowrap;
//             flex-direction: column;
//           }
//           &__laPlusProfessionnelle_2 {
//             opacity: 0.9;
//             color: #fff;
//             font-size: 16px;
//             line-height: 14px;
//             font-weight: 500;
//             font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
//               'Liberation Sans', sans-serif;
//             position: absolute;
//             left: 0;
//             right: 0;
//             top: 72%;
//             bottom: 0;
//             width: min-content;
//             height: min-content;
//             white-space: nowrap;
//             flex-direction: column;
//           }
//         }
//       }
//       &__location5 {
//         width: 276px;
//         height: 400px;
//         flex-direction: column;
//         justify-content: flex-end;
//         align-items: flex-start;
//         gap: 402px;
//         padding: 22px 24px;
//         border-radius: 20px;
//         background-image: linear-gradient(180deg, #fff0 0%, #57069596 100%), url('/assets/location5.png');
//         background-position: center;
//         background-repeat: no-repeat;
//         background-size: auto, contain;
//         &__texts_4 {
//           position: relative;
//           width: 166px;
//           height: 50px;
//           &__tinyLabel {
//             color: #fff;
//             font-size: 24px;
//             line-height: 20px;
//             font-weight: bold;
//             font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
//               'Liberation Sans', sans-serif;
//             letter-spacing: -0.01em;
//             position: absolute;
//             left: 0;
//             right: 33.7349%;
//             top: 0;
//             bottom: 60%;
//             width: min-content;
//             height: min-content;
//             text-shadow: 0px 6px 15px #0003;
//             white-space: nowrap;
//             flex-direction: column;
//           }
//           &__laPlusProfessionnelle_3 {
//             opacity: 0.9;
//             color: #fff;
//             font-size: 16px;
//             line-height: 14px;
//             font-weight: 500;
//             font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
//               'Liberation Sans', sans-serif;
//             position: absolute;
//             left: 0;
//             right: 0;
//             top: 72%;
//             bottom: 0;
//             width: min-content;
//             height: min-content;
//             white-space: nowrap;
//             flex-direction: column;
//           }
//         }
//       }
//       &__location6 {
//         width: 276px;
//         height: 400px;
//         flex-direction: column;
//         justify-content: flex-end;
//         align-items: flex-start;
//         gap: 402px;
//         padding: 22px 24px;
//         border-radius: 20px;
//         background-image: linear-gradient(180deg, #fff0 0%, #57069596 100%), url('/assets/location6.png');
//         background-position: center;
//         background-repeat: no-repeat;
//         background-size: auto, contain;
//         &__texts_5 {
//           position: relative;
//           width: 166px;
//           height: 50px;
//           &__lABELXS {
//             color: #fff;
//             font-size: 24px;
//             line-height: 20px;
//             font-weight: bold;
//             font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
//               'Liberation Sans', sans-serif;
//             letter-spacing: -0.01em;
//             position: absolute;
//             left: 0;
//             right: 36.1446%;
//             top: 0;
//             bottom: 60%;
//             width: min-content;
//             height: min-content;
//             text-shadow: 0px 6px 15px #0003;
//             white-space: nowrap;
//             flex-direction: column;
//           }
//           &__laPlusProfessionnelle_4 {
//             opacity: 0.9;
//             color: #fff;
//             font-size: 16px;
//             line-height: 14px;
//             font-weight: 500;
//             font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
//               'Liberation Sans', sans-serif;
//             position: absolute;
//             left: 0;
//             right: 0;
//             top: 72%;
//             bottom: 0;
//             width: min-content;
//             height: min-content;
//             white-space: nowrap;
//             flex-direction: column;
//           }
//         }
//       }
//     }
//     &__frame1000002527 {
//       height: min-content;
//       align-self: stretch;
//       justify-content: flex-end;
//       align-items: center;
//       gap: 30px;
//       &__location22 {
//         width: 276px;
//         height: 400px;
//         flex-direction: column;
//         justify-content: flex-end;
//         align-items: flex-start;
//         gap: 402px;
//         padding: 22px 24px;
//         border-radius: 20px;
//         background-image: linear-gradient(180deg, #fff0 0%, #57069596 100%), url('/assets/location22.png');
//         background-position: center;
//         background-repeat: no-repeat;
//         background-size: auto, contain;
//         &__texts_6 {
//           position: relative;
//           width: 166px;
//           height: 50px;
//           &__facebooth_2 {
//             color: #fff;
//             font-size: 24px;
//             line-height: 20px;
//             font-weight: bold;
//             font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
//               'Liberation Sans', sans-serif;
//             letter-spacing: -0.01em;
//             position: absolute;
//             left: 0;
//             right: 32.5301%;
//             top: 0;
//             bottom: 60%;
//             width: min-content;
//             height: min-content;
//             text-shadow: 0px 6px 15px #0003;
//             white-space: nowrap;
//             flex-direction: column;
//           }
//           &__laPlusProfessionnelle_5 {
//             opacity: 0.9;
//             color: #fff;
//             font-size: 16px;
//             line-height: 14px;
//             font-weight: 500;
//             font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
//               'Liberation Sans', sans-serif;
//             position: absolute;
//             left: 0;
//             right: 0;
//             top: 72%;
//             bottom: 0;
//             width: min-content;
//             height: min-content;
//             white-space: nowrap;
//             flex-direction: column;
//           }
//         }
//       }
//       &__location32 {
//         width: 276px;
//         height: 400px;
//         flex-direction: column;
//         justify-content: flex-end;
//         align-items: flex-start;
//         gap: 402px;
//         padding: 22px 24px;
//         border-radius: 20px;
//         background-image: linear-gradient(180deg, #fff0 0%, #57069596 100%), url('/assets/location32.png');
//         background-position: center;
//         background-repeat: no-repeat;
//         background-size: auto, contain;
//         &__texts_7 {
//           position: relative;
//           width: 166px;
//           height: 50px;
//           &__labelbox_2 {
//             color: #fff;
//             font-size: 24px;
//             line-height: 20px;
//             font-weight: bold;
//             font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
//               'Liberation Sans', sans-serif;
//             letter-spacing: -0.01em;
//             position: absolute;
//             left: 0;
//             right: 42.1687%;
//             top: 0;
//             bottom: 60%;
//             width: min-content;
//             height: min-content;
//             text-shadow: 0px 6px 15px #0003;
//             white-space: nowrap;
//             flex-direction: column;
//           }
//           &__laPlusProfessionnelle_6 {
//             opacity: 0.9;
//             color: #fff;
//             font-size: 16px;
//             line-height: 14px;
//             font-weight: 500;
//             font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
//               'Liberation Sans', sans-serif;
//             position: absolute;
//             left: 0;
//             right: 0;
//             top: 72%;
//             bottom: 0;
//             width: min-content;
//             height: min-content;
//             white-space: nowrap;
//             flex-direction: column;
//           }
//         }
//       }
//       &__location42 {
//         width: 276px;
//         height: 400px;
//         flex-direction: column;
//         justify-content: flex-end;
//         align-items: flex-start;
//         gap: 402px;
//         padding: 22px 24px;
//         border-radius: 20px;
//         background-image: linear-gradient(180deg, #fff0 0%, #57069596 100%), url('/assets/location42.png');
//         background-position: center;
//         background-repeat: no-repeat;
//         background-size: auto, contain;
//         &__texts_8 {
//           position: relative;
//           width: 166px;
//           height: 50px;
//           &__labelboxMini2 {
//             color: #fff;
//             font-size: 24px;
//             line-height: 20px;
//             font-weight: bold;
//             font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
//               'Liberation Sans', sans-serif;
//             letter-spacing: -0.01em;
//             position: absolute;
//             left: 0;
//             right: 10.8434%;
//             top: 0;
//             bottom: 60%;
//             width: min-content;
//             height: min-content;
//             text-shadow: 0px 6px 15px #0003;
//             white-space: nowrap;
//             flex-direction: column;
//           }
//           &__laPlusProfessionnelle_7 {
//             opacity: 0.9;
//             color: #fff;
//             font-size: 16px;
//             line-height: 14px;
//             font-weight: 500;
//             font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
//               'Liberation Sans', sans-serif;
//             position: absolute;
//             left: 0;
//             right: 0;
//             top: 72%;
//             bottom: 0;
//             width: min-content;
//             height: min-content;
//             white-space: nowrap;
//             flex-direction: column;
//           }
//         }
//       }
//       &__location52 {
//         width: 276px;
//         height: 400px;
//         flex-direction: column;
//         justify-content: flex-end;
//         align-items: flex-start;
//         gap: 402px;
//         padding: 22px 24px;
//         border-radius: 20px;
//         background-image: linear-gradient(180deg, #fff0 0%, #57069596 100%), url('/assets/location52.png');
//         background-position: center;
//         background-repeat: no-repeat;
//         background-size: auto, contain;
//         &__texts_9 {
//           position: relative;
//           width: 166px;
//           height: 50px;
//           &__tinyLabel2 {
//             color: #fff;
//             font-size: 24px;
//             line-height: 20px;
//             font-weight: bold;
//             font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
//               'Liberation Sans', sans-serif;
//             letter-spacing: -0.01em;
//             position: absolute;
//             left: 0;
//             right: 33.7349%;
//             top: 0;
//             bottom: 60%;
//             width: min-content;
//             height: min-content;
//             text-shadow: 0px 6px 15px #0003;
//             white-space: nowrap;
//             flex-direction: column;
//           }
//           &__laPlusProfessionnelle_8 {
//             opacity: 0.9;
//             color: #fff;
//             font-size: 16px;
//             line-height: 14px;
//             font-weight: 500;
//             font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
//               'Liberation Sans', sans-serif;
//             position: absolute;
//             left: 0;
//             right: 0;
//             top: 72%;
//             bottom: 0;
//             width: min-content;
//             height: min-content;
//             white-space: nowrap;
//             flex-direction: column;
//           }
//         }
//       }
//       &__location62 {
//         width: 276px;
//         height: 400px;
//         flex-direction: column;
//         justify-content: flex-end;
//         align-items: flex-start;
//         gap: 402px;
//         padding: 22px 24px;
//         border-radius: 20px;
//         background-image: linear-gradient(180deg, #fff0 0%, #57069596 100%), url('/assets/location62.png');
//         background-position: center;
//         background-repeat: no-repeat;
//         background-size: auto, contain;
//         &__texts_10 {
//           position: relative;
//           width: 166px;
//           height: 50px;
//           &__labelXs {
//             color: #fff;
//             font-size: 24px;
//             line-height: 20px;
//             font-weight: bold;
//             font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
//               'Liberation Sans', sans-serif;
//             letter-spacing: -0.01em;
//             position: absolute;
//             left: 0;
//             right: 36.1446%;
//             top: 0;
//             bottom: 60%;
//             width: min-content;
//             height: min-content;
//             text-shadow: 0px 6px 15px #0003;
//             white-space: nowrap;
//             flex-direction: column;
//           }
//           &__laPlusProfessionnelle_9 {
//             opacity: 0.9;
//             color: #fff;
//             font-size: 16px;
//             line-height: 14px;
//             font-weight: 500;
//             font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
//               'Liberation Sans', sans-serif;
//             position: absolute;
//             left: 0;
//             right: 0;
//             top: 72%;
//             bottom: 0;
//             width: min-content;
//             height: min-content;
//             white-space: nowrap;
//             flex-direction: column;
//           }
//         }
//       }
//     }
//   }
// }



