<div class="herosection">
  <div class="herosection__herobg"><img src="assets/herobg-icon.svg" alt="" class="herosection__herobg__icon" /></div>
  <div class="herosection__content">
    <div class="herosection__content__heroText">
      <div class="herosection__content__heroText__immortalisezVosMoments">
        <div class="herosection__content__heroText__immortalisezVosMoments__textBlock">Immortalisez</div>
        <div class="herosection__content__heroText__immortalisezVosMoments__textBlock2">vos moments</div>
      </div>
      <div class="herosection__content__heroText__rendezVosMomentsSpciauxInoubli">
        Rendez vos moments spéciaux inoubliables avec nos bornes photo de haute qualité.
      </div>
      <button class="button">
        <div class="herosection__content__heroText__secondarybtn">
          <div class="herosection__content__heroText__secondarybtn__rservezMaintenant">Réservez maintenant</div>
        </div>
      </button>
    </div>
    <div class="herosection__content__heroImages">
      <div class="herosection__content__heroImages__img2">
        <div class="herosection__content__heroImages__img2__ellipse7">
          <img src="assets/ellipse-7-icon.svg" alt="" class="herosection__content__heroImages__img2__ellipse7__icon2" />
        </div>
        <div class="herosection__content__heroImages__img2___68aa145e0b10f0e5436e4b0bdc7949"></div>
      </div>
      <div class="herosection__content__heroImages__img1">
        <div class="herosection__content__heroImages__img1__ellipse8">
          <img src="assets/ellipse-8-icon.svg" alt="" class="herosection__content__heroImages__img1__ellipse8__icon3" />
        </div>
        <div class="herosection__content__heroImages__img1___8f17ad98cc7402f4142236bd4995e3"></div>
      </div>
    </div>
  </div>
</div>
<div class="feature">
  <div class="feature___7e3000d5f9c890a1d1634d9920bc40"></div>
  <div class="feature__content2">
    <div class="feature__content2__inoubliable">Inoubliable</div>
    <div class="feature__content2__desBornesPhotoUniquesPourVosVn">Des bornes photo uniques pour vos événements</div>
    <div class="feature__content2__louezNosBornesPhotoPourCapture">
      Louez nos bornes photo pour capturer des moments spéciaux lors de vos mariages, baptêmes, baby showers,
      anniversaires et bien plus encore. Nos dispositifs sont faciles à utiliser et offrent des fonctionnalités uniques
      pour rendre vos événements inoubliables.
    </div>
    <div class="feature__content2__frame1000002518">
      <div class="feature__content2__frame1000002518__learnMore">
        <div class="feature__content2__frame1000002518__learnMore__arrow">
          <img src="assets/arrow-icon.svg" alt="" class="feature__content2__frame1000002518__learnMore__arrow__icon4" />
        </div>
        <div class="feature__content2__frame1000002518__learnMore__desImpressionsInstantanesDeHau">
          Des impressions instantanées de haute qualité
        </div>
      </div>
      <div class="feature__content2__frame1000002518__learnMore2">
        <div class="feature__content2__frame1000002518__learnMore2__vector727">
          <img
            src="assets/vector-727-icon.svg"
            alt=""
            class="feature__content2__frame1000002518__learnMore2__vector727__icon5"
          />
        </div>
        <div class="feature__content2__frame1000002518__learnMore2__optionsDePersonnalisationPourC">
          Options de personnalisation pour chaque événement
        </div>
      </div>
      <div class="feature__content2__frame1000002518__learnMore_2">
        <div class="feature__content2__frame1000002518__learnMore_2__vector7272">
          <img
            src="assets/vector727-icon.svg"
            alt=""
            class="feature__content2__frame1000002518__learnMore_2__vector7272__icon6"
          />
        </div>
        <div class="feature__content2__frame1000002518__learnMore_2__partageFacileSurLesRseauxSocia">
          Partage facile sur les réseaux sociaux
        </div>
      </div>
    </div>
  </div>
</div>
<div class="feature_2">
  <div class="feature_2__content_2">
    <div class="feature_2__content_2__capturezVosMomentsSpciaux">Capturez vos moments spéciaux</div>
    <div class="feature_2__content_2__adaptPourTousVosVnements">Adapté pour tous vos événements</div>
    <div class="feature_2__content_2__notreServiceDeLocationDeBornes">
      Notre service de location de bornes photo vous permet de capturer et d&amp;#39;immortaliser vos moments spéciaux
      lors de divers événements tels que les mariages, les baptêmes, les baby showers et les anniversaires. Nous
      proposons différents modèles de bornes photo, des formules de prix adaptées à vos besoins, ainsi que des packs,
      des offres et des promotions.
    </div>
  </div>
  <div class="feature_2__feature_3">
    <div class="feature_2__feature_3__frame10000025182">
      <div class="feature_2__feature_3__frame10000025182__card3">
        <div class="feature_2__feature_3__frame10000025182__card3__mariageicon">
          <div class="feature_2__feature_3__frame10000025182__card3__mariageicon__engagementring1"></div>
        </div>
        <div class="feature_2__feature_3__frame10000025182__card3__mariage">Mariage</div>
        <div class="feature_2__feature_3__frame10000025182__card3__immortalisezVotreMariageAvecNo">
          Immortalisez votre mariage avec notre borne photo de qualité professionnelle.
        </div>
      </div>
      <div class="feature_2__feature_3__frame10000025182__card4">
        <div class="feature_2__feature_3__frame10000025182__card4__hbdicon">
          <div class="feature_2__feature_3__frame10000025182__card4__hbdicon__birthdaycake1"></div>
        </div>
        <div class="feature_2__feature_3__frame10000025182__card4__anniversaire">Anniversaire</div>
        <div class="feature_2__feature_3__frame10000025182__card4__ajoutezUneToucheAmusanteVotreF">
          Ajoutez une touche amusante à votre fête d&amp;#39;anniversaire avec notre borne photo.
        </div>
      </div>
    </div>
    <div class="feature_2__feature_3__frame1000002518_2">
      <div class="feature_2__feature_3__frame1000002518_2__n7e3000d5f9c890a1d1634d9920bc4"></div>
    </div>
    <div class="feature_2__feature_3__frame1000002519">
      <div class="feature_2__feature_3__frame1000002519__card03">
        <div class="feature_2__feature_3__frame1000002519__card03__baby_showericon">
          <div class="feature_2__feature_3__frame1000002519__card03__baby_showericon__babyshower1"></div>
        </div>
        <div class="feature_2__feature_3__frame1000002519__card03__babyShower">Baby shower</div>
        <div class="feature_2__feature_3__frame1000002519__card03__capturezVosMomentsDeJoieLorsDe">
          Capturez vos moments de joie lors de votre baby shower avec vos proches.
        </div>
      </div>
      <div class="feature_2__feature_3__frame1000002519__card42">
        <div class="feature_2__feature_3__frame1000002519__card42__baptisicon">
          <div class="feature_2__feature_3__frame1000002519__card42__baptisicon__baptism1"></div>
        </div>
        <div class="feature_2__feature_3__frame1000002519__card42__baptme">Baptême</div>
        <div class="feature_2__feature_3__frame1000002519__card42__ajoutezUneToucheAmusanteVotreF2">
          Ajoutez une touche amusante à votre fête d&amp;#39;anniversaire avec notre borne photo.
        </div>
      </div>
    </div>
  </div>
  <button class="button">
    <div class="feature_2__secondarybtn_2">
      <div class="feature_2__secondarybtn_2__rservezMaintenant2">Réservez maintenant</div>
    </div>
  </button>
</div>
<div class="topDestinationSafeTourLandingP">
  <div class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP">
    <div class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002522">
      <div class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002522__texts">
        <div class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002522__texts__nosOffres">
          Nos Offres
        </div>
        <div
          class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002522__texts__trouvezLaBorneIdalePourVosVnem"
        >
          <div
            class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002522__texts__trouvezLaBorneIdalePourVosVnem__textBlock3"
          >
            Trouvez la borne idéale pour vos évènements parmi notre large
          </div>
          <div
            class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002522__texts__trouvezLaBorneIdalePourVosVnem__textBlock4"
          >
            sélection de bornes photo de qualité
          </div>
        </div>
      </div>
      <button class="button">
      <div class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002522__secondarybtn_3">
        <div
          class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002522__secondarybtn_3__dcouvrir"
        >
          Découvrir
        </div>
      </div>
    </button>
    </div>
    <Chiiz-appareil></Chiiz-appareil>
    <!-- <div class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002526">
      <div class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002526__location2">
        <div class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002526__location2__texts2">
          <div
            class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002526__location2__texts2__facebooth"
          >
            Facebooth
          </div>
          <div
            class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002526__location2__texts2__laPlusProfessionnelle"
          >
            La plus professionnelle
          </div>
        </div>
      </div>
      <div class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002526__location3">
        <div
          class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002526__location3__texts_2"
        >
          <div
            class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002526__location3__texts_2__labelbox"
          >
            Labelbox
          </div>
          <div
            class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002526__location3__texts_2__laPlusProfessionnelle2"
          >
            La plus professionnelle
          </div>
        </div>
      </div>
      <div class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002526__location4">
        <div
          class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002526__location4__texts_3"
        >
          <div
            class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002526__location4__texts_3__labelboxMini"
          >
            Labelbox Mini
          </div>
          <div
            class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002526__location4__texts_3__laPlusProfessionnelle_2"
          >
            La plus professionnelle
          </div>
        </div>
      </div>
      <div class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002526__location5">
        <div
          class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002526__location5__texts_4"
        >
          <div
            class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002526__location5__texts_4__tinyLabel"
          >
            Tiny Label
          </div>
          <div
            class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002526__location5__texts_4__laPlusProfessionnelle_3"
          >
            La plus professionnelle
          </div>
        </div>
      </div>
      <div class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002526__location6">
        <div
          class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002526__location6__texts_5"
        >
          <div
            class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002526__location6__texts_5__lABELXS"
          >
            LABEL XS
          </div>
          <div
            class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002526__location6__texts_5__laPlusProfessionnelle_4"
          >
            La plus professionnelle
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002527">
      <div class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002527__location22">
        <div
          class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002527__location22__texts_6"
        >
          <div
            class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002527__location22__texts_6__facebooth_2"
          >
            Facebooth
          </div>
          <div
            class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002527__location22__texts_6__laPlusProfessionnelle_5"
          >
            La plus professionnelle
          </div>
        </div>
      </div>
      <div class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002527__location32">
        <div
          class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002527__location32__texts_7"
        >
          <div
            class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002527__location32__texts_7__labelbox_2"
          >
            Labelbox
          </div>
          <div
            class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002527__location32__texts_7__laPlusProfessionnelle_6"
          >
            La plus professionnelle
          </div>
        </div>
      </div>
      <div class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002527__location42">
        <div
          class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002527__location42__texts_8"
        >
          <div
            class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002527__location42__texts_8__labelboxMini2"
          >
            Labelbox Mini
          </div>
          <div
            class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002527__location42__texts_8__laPlusProfessionnelle_7"
          >
            La plus professionnelle
          </div>
        </div>
      </div>
      <div class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002527__location52">
        <div
          class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002527__location52__texts_9"
        >
          <div
            class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002527__location52__texts_9__tinyLabel2"
          >
            Tiny Label
          </div>
          <div
            class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002527__location52__texts_9__laPlusProfessionnelle_8"
          >
            La plus professionnelle
          </div>
        </div>
      </div>
      <div class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002527__location62">
        <div
          class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002527__location62__texts_10"
        >
          <div
            class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002527__location62__texts_10__labelXs"
          >
            LABEL XS
          </div>
          <div
            class="topDestinationSafeTourLandingP__topDestinationsafeTourLandingP__frame1000002527__location62__texts_10__laPlusProfessionnelle_9"
          >
            La plus professionnelle
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
<div class="header">
  <button class="button">
    <div class="header__group1000002517">
      <div class="header__group1000002517__logo1">
        <img src="assets/logo-1-icon.svg" alt="" class="header__group1000002517__logo1__icon7" />
      </div>
      <div class="header__group1000002517__chiiiz">Chiiiz</div>
    </div>
  </button>
  <div class="header__nav">
    <button class="button">
      <div class="header__nav__propos">À propos</div>
    </button>
    <button class="button">
      <div class="header__nav__nosOffres2">Nos Offres</div>
    </button>
    <button class="button">
      <div class="header__nav__contact">Contact</div>
    </button>
    <button class="button">
      <div class="header__nav__frame1000002518_3">
        <div class="header__nav__frame1000002518_3__plus">Plus</div>
        <div class="header__nav__frame1000002518_3__vector">
          <img src="assets/vector-icon.svg" alt="" class="header__nav__frame1000002518_3__vector__icon8" />
        </div>
      </div>
  </button>
  </div>
  <div class="header__frame3">
    <button class="button">
      <div class="header__frame3__frame1"><div class="header__frame3__frame1__rserver">Réserver</div></div>
    </button>
  </div>
</div>
<div class="testimonialSafeTourLandingPage">
  <div class="testimonialSafeTourLandingPage__testimonialsafeTourLandingPage">
    <div class="testimonialSafeTourLandingPage__testimonialsafeTourLandingPage__frame1000002518_4">
      <div class="testimonialSafeTourLandingPage__testimonialsafeTourLandingPage__frame1000002518_4__shapes">
      <!-- <img
          src="assets/shapes-icon.svg"
          alt=""
          class="testimonialSafeTourLandingPage__testimonialsafeTourLandingPage__frame1000002518_4__shapes__icon9"
        /> -->
      </div>
      <div
        class="testimonialSafeTourLandingPage__testimonialsafeTourLandingPage__frame1000002518_4__testimonialsimg"
      ></div>
    </div>
    <div class="testimonialSafeTourLandingPage__testimonialsafeTourLandingPage__texts_22">
      <div class="testimonialSafeTourLandingPage__testimonialsafeTourLandingPage__texts_22__avisDesClients">
        Avis des clients
      </div>
      <div
        class="testimonialSafeTourLandingPage__testimonialsafeTourLandingPage__texts_22__laLocationDeBornesPhotoPourNot"
      >
        « La location de bornes photo pour notre événement a été un succès total. Les invités ont adoré prendre des
        photos amusantes et repartir avec des souvenirs inoubliables. »
      </div>
      <div class="testimonialSafeTourLandingPage__testimonialsafeTourLandingPage__texts_22__johnDoe">John Doe</div>
      <div class="testimonialSafeTourLandingPage__testimonialsafeTourLandingPage__texts_22__button">
        <img
          src="assets/button-icon.svg"
          alt=""
          class="testimonialSafeTourLandingPage__testimonialsafeTourLandingPage__texts_22__button__icon10"
        />
      </div>
    </div>
  </div>
</div>
<div class="newsletterSafeTourLandingPage">
  <div class="newsletterSafeTourLandingPage__ctasectionbg">
    <div class="newsletterSafeTourLandingPage__ctasectionbg__frame1000002520">
      <div class="newsletterSafeTourLandingPage__ctasectionbg__frame1000002520__louezUneBornePhotoMaintenant">
        Louez une borne photo maintenant
      </div>
      <div class="newsletterSafeTourLandingPage__ctasectionbg__frame1000002520__rendreInoubliableVosVnementsCe">
        Rendre inoubliable vos événements c’est réserver la meilleur borne photo à un prix imbattable !
      </div>
      <button class="button">
        <div class="newsletterSafeTourLandingPage__ctasectionbg__frame1000002520__secondarybtn_4">
          <div class="newsletterSafeTourLandingPage__ctasectionbg__frame1000002520__secondarybtn_4__faireUneDemande">
            Faire une demande
          </div>
        </div>
    </button>
    </div>
    <div class="newsletterSafeTourLandingPage__ctasectionbg__ctasectionimg"></div>
  </div>
</div>
<div class="faqs">
  <div class="faqs__illustration2">
    <img src="assets/illustration2-icon.svg" alt="" class="faqs__illustration2__icon11" />
  </div>
  <div class="faqs__fAQs">FAQ’s</div>
  <div class="faqs__faqs2">
    <div class="faqs__faqs2__card">
      <div class="faqs__faqs2__card__content_22">
        <div class="faqs__faqs2__card__content_22__minusicon">
          <div class="faqs__faqs2__card__content_22__minusicon__icon_3"></div>
        </div>
        <div class="faqs__faqs2__card__content_22__frame1000002521">
          <div class="faqs__faqs2__card__content_22__frame1000002521__questceQuuneBornePhoto">
            Qu&amp;#39;est-ce qu&amp;#39;une borne photo?
          </div>
          <div class="faqs__faqs2__card__content_22__frame1000002521__uneBornePhotoEstUnDispositifQu">
            Une borne photo est un dispositif qui permet aux invités de prendre des photos amusantes lors
            d&amp;#39;événements spéciaux. Elle est équipée d&amp;#39;une caméra, d&amp;#39;un écran et d&amp;#39;une
            imprimante pour que les invités puissent prendre des photos et les imprimer instantanément.
          </div>
        </div>
      </div>
    </div>
    <div class="faqs__faqs2__card_2">
      <div class="faqs__faqs2__card_2__content_3">
        <div class="faqs__faqs2__card_2__content_3__plusicon">
          <div class="faqs__faqs2__card_2__content_3__plusicon__rectangle324"></div>
          <div class="faqs__faqs2__card_2__content_3__plusicon__rectangle325"></div>
        </div>
        <div class="faqs__faqs2__card_2__content_3__frame10000025192">
          <div class="faqs__faqs2__card_2__content_3__frame10000025192__commentAMarche">Comment ça marche?</div>
        </div>
      </div>
    </div>
    <div class="faqs__faqs2__card_3">
      <div class="faqs__faqs2__card_3__content_4">
        <div class="faqs__faqs2__card_3__content_4__group1000002518">
          <div class="faqs__faqs2__card_3__content_4__group1000002518__rectangle3242"></div>
          <div class="faqs__faqs2__card_3__content_4__group1000002518__rectangle3252"></div>
        </div>
        <div class="faqs__faqs2__card_3__content_4__frame1000002519_2">
          <div class="faqs__faqs2__card_3__content_4__frame1000002519_2__quelsVnementsPourLaLocationDun">
            Quels événements pour à la location d&amp;#39;une borne photo?
          </div>
        </div>
      </div>
    </div>
    <div class="faqs__faqs2__card_4">
      <div class="faqs__faqs2__card_4__content_5">
        <div class="faqs__faqs2__card_4__content_5__group10000025182">
          <div class="faqs__faqs2__card_4__content_5__group10000025182__rectangle324_2"></div>
          <div class="faqs__faqs2__card_4__content_5__group10000025182__rectangle325_2"></div>
        </div>
        <div class="faqs__faqs2__card_4__content_5__frame1000002519_3">
          <div class="faqs__faqs2__card_4__content_5__frame1000002519_3__commentRserverUneBornePhoto">
            Comment réserver une borne photo?
          </div>
        </div>
      </div>
    </div>
    <div class="faqs__faqs2__card_5">
      <div class="faqs__faqs2__card_5__content_6">
        <div class="faqs__faqs2__card_5__content_6__group1000002518_2">
          <div class="faqs__faqs2__card_5__content_6__group1000002518_2__rectangle324_3"></div>
          <div class="faqs__faqs2__card_5__content_6__group1000002518_2__rectangle325_3"></div>
        </div>
        <div class="faqs__faqs2__card_5__content_6__frame1000002519_4">
          <div class="faqs__faqs2__card_5__content_6__frame1000002519_4__quellesSontLesOptionsDePersonn">
            Quelles sont les options de personnalisation disponibles?
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<Chiiz-footer></Chiiz-footer>
