// .phoneNumber {
//   color: #000929;
//   font-size: 14px;
//   line-height: 140%;
//   font-weight: 500;
//   font-family: Plus Jakarta Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
//     'Liberation Sans', sans-serif;
//   width: min-content;
//   height: min-content;
//   white-space: nowrap;
//   flex-direction: column;
// }
// .frame289 {
//   flex: 1;
//   align-self: stretch;
//   align-items: center;
//   gap: 16px;
//   padding: 0 16px;
//   outline: solid 1px #e0def7;
//   outline-offset: -1px;
//   border-radius: 8px;
//   background-color: #f7f7fd;
//   &__country {
//     z-index: 0;
//     width: min-content;
//     height: min-content;
//     align-items: center;
//     gap: 8px;
//     &__uSUnitedStates {
//       width: 20px;
//       height: 16px;
//       overflow: visible;
//       &__icon {
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//       }
//     }
//   }
//   &__line {
//     z-index: 0;
//     width: 2px;
//     max-width: 100%;
//     height: 48px;
//     max-height: 100%;
//     position: relative;
//   }
//   &___1234567891 {
//     opacity: 0.5;
//     color: #000929;
//     font-size: 16px;
//     line-height: 150%;
//     font-weight: 500;
//     font-family: Plus Jakarta Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
//       'Liberation Sans', sans-serif;
//     z-index: 0;
//     width: min-content;
//     height: min-content;
//     white-space: nowrap;
//     flex-direction: column;
//   }
// }
.line::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  transform: translateX(2px) rotate(90deg);
  width: 48px;
  height: 1px;
  border-bottom: solid 1px #e0def7;
}

.name {
  color: #000929;
  font-size: 14px;
  line-height: 140%;
  font-weight: 500;
  font-family: "Plus Jakarta Sans", system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.frame {
  flex: 1;
  align-self: stretch;
  align-items: flex-start;
  padding: 12px 16px;
  outline: solid 1px #e0def7;
  outline-offset: -1px;
  border-radius: 8px;
  background-color: #f7f7fd;

  &__fullName {
    opacity: 0.5;
    color: #000929;
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    font-family: "Plus Jakarta Sans", system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    z-index: 0;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
}

.email {
  color: #000929;
  font-size: 14px;
  line-height: 140%;
  font-weight: 500;
  font-family: "Plus Jakarta Sans", system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

// .frame {
//   flex: 1;
//   align-self: stretch;
//   align-items: flex-start;
//   padding: 12px 16px;
//   outline: solid 1px #e0def7;
//   outline-offset: -1px;
//   border-radius: 8px;
//   background-color: #f7f7fd;
//   &__hiExampleCom {
//     opacity: 0.5;
//     color: #000929;
//     font-size: 16px;
//     line-height: 150%;
//     font-weight: 500;
//     font-family: Plus Jakarta Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
//       'Liberation Sans', sans-serif;
//     z-index: 0;
//     width: min-content;
//     height: min-content;
//     white-space: nowrap;
//     flex-direction: column;
//   }
// }
.driversLicenseState {
  color: #000929;
  font-size: 14px;
  line-height: 140%;
  font-weight: 500;
  font-family: "Plus Jakarta Sans", system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

// .frame {
//   flex: 1;
//   align-self: stretch;
//   justify-content: space-between;
//   align-items: center;
//   gap: 201px;
//   padding: 12px 16px;
//   outline: solid 1px #e0def7;
//   outline-offset: -1px;
//   border-radius: 8px;
//   background-color: #f7f7fd;
//   &__selectOne {
//     opacity: 0.5;
//     color: #000929;
//     font-size: 16px;
//     line-height: 150%;
//     font-weight: 500;
//     font-family: Plus Jakarta Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
//       'Liberation Sans', sans-serif;
//     z-index: 0;
//     width: min-content;
//     height: min-content;
//     white-space: nowrap;
//     flex-direction: column;
//   }
// }

.dateOfBirth {
  color: #000929;
  font-size: 14px;
  line-height: 140%;
  font-weight: 500;
  font-family: "Plus Jakarta Sans", system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.frame289 {
  flex: 1;
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  outline: solid 1px #e0def7;
  outline-offset: -1px;
  border-radius: 8px;
  background-color: #f7f7fd;

  &__dDMMYYYY {
    opacity: 0.5;
    color: #000929;
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    font-family: "Plus Jakarta Sans", system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    z-index: 0;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
}


:host,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  flex-shrink: 0;
  text-decoration: none;
  min-width: 0;
  overflow-wrap: anywhere;
}

:host,
:not(span, a, ul, ol, li, p) {
  display: flex;
}

ul,
ol {
  text-indent: 0;
  padding-inline-start: 1.5em;
}

p:empty::before {
  content: '';
  display: inline-block;
}

img {
  object-fit: contain;
}

svg {
  overflow: visible;
}

:host {
  position: relative;
  width: 1440px;
  height: min-content;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  overflow: hidden;
}

.heroSection {
  position: relative;
  height: 1024px;
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 100px 68px;

  &__heroBg {
    position: relative;
    width: 1440px;
    height: 1024px;
  }

  &__content {
    position: relative;
    width: 1253.9313px;
    height: min-content;
    align-items: center;
    gap: 92px;

    &__heroImages {
      height: min-content;
      flex: 1;

      &__img1 {
        position: relative;
        height: min-content;
        flex: 1;
        flex-direction: column;
        align-items: center;

        &__shapes {
          position: absolute;
          left: 101.9658px;
          top: 101.047px;
          width: 470.8414px;
          height: 441.2969px;
          overflow: visible;

          &__icon {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &__ellipse8 {
          position: absolute;
          left: 116.9658px;
          top: 564px;
          width: 394px;
          height: 92px;
          overflow: visible;
          filter: blur(15px);

          &__icon2 {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &__image871 {
          width: 380px;
          height: 646px;
          border-radius: 30px;
          background-image: url('/assets/image871.png');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          transform: matrix(-1, 0, 0, 1, 0, 0);
        }

        &__secondaryBtn {
          position: relative;
          width: min-content;
          height: min-content;
          padding: 4px 50px;
          border-radius: 100px;

          &__voirLesDetails {
            background-image: linear-gradient(259.9deg, #7d00deff 0%, #f6018dff 100%);
            background-position: center;
            background-repeat: no-repeat;
            background-size: auto;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 16px;
            font-weight: bold;
            font-family: Roboto, system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans',
              'Liberation Sans', sans-serif;
            width: min-content;
            height: min-content;
            text-align: center;
            align-items: center;
            white-space: nowrap;
            flex-direction: column;
          }
        }
      }
    }

    &__applicantDetails {
      flex: 1;
      align-self: stretch;
      flex-direction: column;
      align-items: flex-start;
      gap: 50px;
      padding: 24px;
      outline: solid 1.5px #e0def7;
      outline-offset: -1px;
      border-radius: 15px;
      background-color: #fff;

      &__formulaireDeReservation {
        color: #570695;
        font-size: 24px;
        line-height: 48px;
        font-weight: bold;
        font-family: Roboto, system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans',
          'Liberation Sans', sans-serif;
        z-index: 0;
        height: min-content;
        align-self: stretch;
        flex-direction: column;
      }

      &__frame1000002534 {
        z-index: 0;
        height: min-content;
        align-self: stretch;
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;

        &__frame1000002533 {
          height: min-content;
          align-self: stretch;
          align-items: flex-start;
          gap: 18px;
        }

        &__frame1000002536 {
          width: 578.9656px;
          height: min-content;
          align-items: flex-start;
          gap: 18px;
        }

        &__frame1000002535 {
          height: min-content;
          align-self: stretch;
        }

        &__frame1000002532 {
          height: min-content;
          align-self: stretch;
          align-items: flex-start;
          gap: 18px;
        }

        &__sSN {
          height: min-content;
          align-self: stretch;
          flex-direction: column;
          align-items: flex-start;

          &__sSN2 {
            width: min-content;
            height: min-content;
            align-items: center;
            gap: 8px;

            &__jAiLuEtJAccepteVosConditionsDU {
              width: 354px;
              height: min-content;
              flex-direction: column;

              &__labelWrapper {
                font-size: 14px;
                font-family: Roboto, system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans',
                  'Liberation Sans', sans-serif;
                flex-shrink: 1;

                &__label {
                  color: #000929;
                  font-size: 14px;
                  line-height: 140%;
                  font-weight: 500;
                  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', Arial,
                    'Noto Sans', 'Liberation Sans', sans-serif;
                }

                &__label2 {
                  color: #7d00de;
                  font-size: 14px;
                  line-height: 140%;
                  font-weight: 500;
                  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', Arial,
                    'Noto Sans', 'Liberation Sans', sans-serif;
                }
              }
            }
          }
        }
      }

      &__frame1 {
        z-index: 0;
        width: min-content;
        height: 58px;
        align-items: center;
        padding: 18px 43px;
        border-radius: 100px;
        background-image: linear-gradient(248.1deg, #7d00deff 0%, #f6018dff 100%);
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        box-shadow: 0 1.8519px 3.1481px 0 #f2019006, 0 8.1481px 6.5185px 0 #f201900a,
          0 20px 13px 0 #f201900d, 0 38.5185px 25.4815px 0 #f201900f, 0 64.8148px 46.8519px 0 #f2019013,
          0 100px 80px 0 #f201901a;

        &__envoyer {
          color: #fff;
          font-size: 16px;
          font-weight: bold;
          font-family: Roboto, system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans',
            'Liberation Sans', sans-serif;
          width: min-content;
          height: min-content;
          text-align: center;
          align-items: center;
          white-space: nowrap;
          flex-direction: column;
        }
      }
    }
  }
}

.header {
  position: absolute;
  left: calc(50% - -0.5px);
  top: 48px;
  width: 1305px;
  height: min-content;
  justify-content: space-between;
  align-items: center;
  gap: 182px;
  transform: translateX(-50%);

  &__group1000002517 {
    position: relative;
    width: 149px;
    height: 50px;

    &__logo1 {
      position: absolute;
      inset: 0 78.5235% 0 0;
      width: 32px;
      height: 50px;
      overflow: visible;

      &__icon3 {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__chiiiz {
      background-image: linear-gradient(247.6deg, #7d00deff 0%, #f6018dff 100%);
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 40px;
      font-family: "Arciform Sans", system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
      letter-spacing: 0.05em;
      position: absolute;
      inset: 10% 0 10% 34.8993%;
      width: min-content;
      height: min-content;
      white-space: nowrap;
      flex-direction: column;
    }
  }

  &__nav {
    width: min-content;
    height: min-content;
    align-items: center;
    gap: 73px;

    &__aPropos {
      color: #570695;
      font-size: 16px;
      font-weight: 600;
      font-family: Roboto, system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
      width: min-content;
      height: min-content;
      white-space: nowrap;
      flex-direction: column;
    }

    &__nosOffres {
      color: #570695;
      font-size: 16px;
      font-weight: 600;
      font-family: Roboto, system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
      width: min-content;
      height: min-content;
      white-space: nowrap;
      flex-direction: column;
    }

    &__contact {
      color: #570695;
      font-size: 16px;
      font-weight: 600;
      font-family: Roboto, system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
      width: min-content;
      height: min-content;
      white-space: nowrap;
      flex-direction: column;
    }

    &__frame1000002518 {
      width: min-content;
      height: min-content;
      align-items: center;
      gap: 4px;

      &__plus {
        color: #570695;
        font-size: 16px;
        font-weight: 600;
        font-family: Roboto, system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans',
          'Liberation Sans', sans-serif;
        width: min-content;
        height: min-content;
        white-space: nowrap;
        flex-direction: column;
      }

      &__vector {
        width: 8px;
        height: 4.9433px;
        overflow: visible;

        &__icon4 {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &__frame3 {
    width: min-content;
    height: min-content;

    &__frame12 {
      width: 152px;
      height: 58px;
      justify-content: center;
      align-items: center;
      padding: 18px 43px;
      border-radius: 100px;
      background-image: linear-gradient(249.1deg, #7d00deff 0%, #f6018dff 100%);
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto;
      box-shadow: 0 1.8519px 3.1481px 0 #f2019006, 0 8.1481px 6.5185px 0 #f201900a, 0 20px 13px 0 #f201900d,
        0 38.5185px 25.4815px 0 #f201900f, 0 64.8148px 46.8519px 0 #f2019013, 0 100px 80px 0 #f201901a;

      &__reserver {
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        font-family: Roboto, system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans',
          'Liberation Sans', sans-serif;
        width: min-content;
        height: min-content;
        text-align: center;
        align-items: center;
        white-space: nowrap;
        flex-direction: column;
      }
    }
  }
}

.topDestinationSafeTourLandingP {
  position: relative;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 100px 132px;

  &__topDestinationSafeTourLandingP2 {
    height: min-content;
    align-self: stretch;
    flex-direction: column;
    gap: 50px;

    &__frame1000002522 {
      height: min-content;
      align-self: stretch;
      align-items: flex-end;
      gap: 340px;

      &__texts {
        height: min-content;
        flex: 1;
        flex-direction: column;
        gap: 18px;

        &__autresSuggestions {
          color: #570695;
          font-size: 40px;
          line-height: 40px;
          font-weight: bold;
          font-family: Roboto, system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans',
            'Liberation Sans', sans-serif;
          height: min-content;
          align-self: stretch;
          flex-direction: column;
        }

        &__cesBornesSerontPeutEtreSuscept {
          color: #676a6c;
          font-size: 18px;
          line-height: 28px;
          font-family: Roboto, system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans',
            'Liberation Sans', sans-serif;
          height: min-content;
          align-self: stretch;
          flex-direction: column;
        }
      }

      &__secondaryBtn2 {
        width: min-content;
        height: min-content;
        padding: 18px 50px;
        border-radius: 100px;
        box-shadow: 0 1.8519px 3.1481px 0 #f2019006, 0 8.1481px 6.5185px 0 #f201900a,
          0 20px 13px 0 #f201900d, 0 38.5185px 25.4815px 0 #f201900f, 0 64.8148px 46.8519px 0 #f2019013,
          0 100px 80px 0 #f201901a;

        &__decouvrir {
          background-image: linear-gradient(254.8deg, #7d00deff 0%, #f6018dff 100%);
          background-position: center;
          background-repeat: no-repeat;
          background-size: auto;
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 16px;
          font-weight: bold;
          font-family: Roboto, system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans',
            'Liberation Sans', sans-serif;
          width: min-content;
          height: min-content;
          text-align: center;
          align-items: center;
          white-space: nowrap;
          flex-direction: column;
        }
      }
    }

    &__frame1000002525 {
      height: min-content;
      align-self: stretch;
      align-items: center;
      gap: 30px;

      &__location2 {
        width: 276px;
        height: 400px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 402px;
        padding: 22px 24px;
        border-radius: 20px;
        background-image: linear-gradient(180deg, #fff0 0%, #57069596 100%), url('/assets/location2.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto, contain;

        &__texts2 {
          position: relative;
          width: 166px;
          height: 50px;

          &__facebooth {
            color: #fff;
            font-size: 24px;
            line-height: 20px;
            font-weight: bold;
            font-family: Roboto, system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans',
              'Liberation Sans', sans-serif;
            letter-spacing: -0.01em;
            position: absolute;
            inset: 0 32.5301% 60% 0;
            width: min-content;
            height: min-content;
            text-shadow: 0 6px 15px #0003;
            white-space: nowrap;
            flex-direction: column;
          }

          &__laPlusProfessionnelle {
            opacity: 0.9;
            color: #fff;
            font-size: 16px;
            line-height: 14px;
            font-weight: 500;
            font-family: Roboto, system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans',
              'Liberation Sans', sans-serif;
            position: absolute;
            inset: 72% 0 0;
            width: min-content;
            height: min-content;
            white-space: nowrap;
            flex-direction: column;
          }
        }
      }

      &__location3 {
        width: 276px;
        height: 400px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 402px;
        padding: 22px 24px;
        border-radius: 20px;
        background-image: linear-gradient(180deg, #fff0 0%, #57069596 100%), url('/assets/location3.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto, contain;

        &__texts3 {
          position: relative;
          width: 166px;
          height: 50px;

          &__labelbox {
            color: #fff;
            font-size: 24px;
            line-height: 20px;
            font-weight: bold;
            font-family: Roboto, system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans',
              'Liberation Sans', sans-serif;
            letter-spacing: -0.01em;
            position: absolute;
            inset: 0 42.1687% 60% 0;
            width: min-content;
            height: min-content;
            text-shadow: 0 6px 15px #0003;
            white-space: nowrap;
            flex-direction: column;
          }

          &__laPlusProfessionnelle2 {
            opacity: 0.9;
            color: #fff;
            font-size: 16px;
            line-height: 14px;
            font-weight: 500;
            font-family: Roboto, system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans',
              'Liberation Sans', sans-serif;
            position: absolute;
            inset: 72% 0 0;
            width: min-content;
            height: min-content;
            white-space: nowrap;
            flex-direction: column;
          }
        }
      }

      &__location4 {
        width: 276px;
        height: 400px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 402px;
        padding: 22px 24px;
        border-radius: 20px;
        background-image: linear-gradient(180deg, #fff0 0%, #57069596 100%), url('/assets/location4.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto, contain;

        &__texts4 {
          position: relative;
          width: 166px;
          height: 50px;

          &__labelboxMini {
            color: #fff;
            font-size: 24px;
            line-height: 20px;
            font-weight: bold;
            font-family: Roboto, system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans',
              'Liberation Sans', sans-serif;
            letter-spacing: -0.01em;
            position: absolute;
            inset: 0 10.8434% 60% 0;
            width: min-content;
            height: min-content;
            text-shadow: 0 6px 15px #0003;
            white-space: nowrap;
            flex-direction: column;
          }

          &__laPlusProfessionnelle3 {
            opacity: 0.9;
            color: #fff;
            font-size: 16px;
            line-height: 14px;
            font-weight: 500;
            font-family: Roboto, system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans',
              'Liberation Sans', sans-serif;
            position: absolute;
            inset: 72% 0 0;
            width: min-content;
            height: min-content;
            white-space: nowrap;
            flex-direction: column;
          }
        }
      }

      &__location5 {
        width: 276px;
        height: 400px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 402px;
        padding: 22px 24px;
        border-radius: 20px;
        background-image: linear-gradient(180deg, #fff0 0%, #57069596 100%), url('/assets/location5.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto, contain;

        &__texts5 {
          position: relative;
          width: 166px;
          height: 50px;

          &__tinyLabel {
            color: #fff;
            font-size: 24px;
            line-height: 20px;
            font-weight: bold;
            font-family: Roboto, system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans',
              'Liberation Sans', sans-serif;
            letter-spacing: -0.01em;
            position: absolute;
            inset: 0 33.7349% 60% 0;
            width: min-content;
            height: min-content;
            text-shadow: 0 6px 15px #0003;
            white-space: nowrap;
            flex-direction: column;
          }

          &__laPlusProfessionnelle4 {
            opacity: 0.9;
            color: #fff;
            font-size: 16px;
            line-height: 14px;
            font-weight: 500;
            font-family: Roboto, system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans',
              'Liberation Sans', sans-serif;
            position: absolute;
            inset: 72% 0 0;
            width: min-content;
            height: min-content;
            white-space: nowrap;
            flex-direction: column;
          }
        }
      }

      &__location6 {
        width: 276px;
        height: 400px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 402px;
        padding: 22px 24px;
        border-radius: 20px;
        background-image: linear-gradient(180deg, #fff0 0%, #57069596 100%), url('/assets/location6.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto, contain;

        &__texts6 {
          position: relative;
          width: 166px;
          height: 50px;

          &__lABELXS {
            color: #fff;
            font-size: 24px;
            line-height: 20px;
            font-weight: bold;
            font-family: Roboto, system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans',
              'Liberation Sans', sans-serif;
            letter-spacing: -0.01em;
            position: absolute;
            inset: 0 36.1446% 60% 0;
            width: min-content;
            height: min-content;
            text-shadow: 0 6px 15px #0003;
            white-space: nowrap;
            flex-direction: column;
          }

          &__laPlusProfessionnelle5 {
            opacity: 0.9;
            color: #fff;
            font-size: 16px;
            line-height: 14px;
            font-weight: 500;
            font-family: Roboto, system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans',
              'Liberation Sans', sans-serif;
            position: absolute;
            inset: 72% 0 0;
            width: min-content;
            height: min-content;
            white-space: nowrap;
            flex-direction: column;
          }
        }
      }
    }
  }
}

.footer {
  position: relative;
  width: 1440px;
  height: min-content;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px 0;
  background-color: #ffe6f9;
  overflow: hidden;

  &__nav2 {
    width: 1305px;
    height: min-content;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 20px 0;

    &__logo {
      position: relative;
      width: 149px;
      height: 50px;

      &__logo12 {
        position: absolute;
        inset: 0 78.5235% 0 0;
        width: 32px;
        height: 50px;
        overflow: visible;

        &__icon5 {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &__chiiiz2 {
        background-image: linear-gradient(247.6deg, #7d00deff 0%, #f6018dff 100%);
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 40px;
        font-family: "Arciform Sans", system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
          'Liberation Sans', sans-serif;
        letter-spacing: 0.05em;
        position: absolute;
        inset: 10% 0 10% 34.8993%;
        width: min-content;
        height: min-content;
        white-space: nowrap;
        flex-direction: column;
      }
    }

    &__nav3 {
      width: min-content;
      height: min-content;
      align-items: center;
      gap: 73px;

      &__aPropos2 {
        color: #570695;
        font-size: 16px;
        font-family: Roboto, system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans',
          'Liberation Sans', sans-serif;
        width: min-content;
        height: min-content;
        white-space: nowrap;
        flex-direction: column;
      }

      &__nosBornes {
        color: #570695;
        font-size: 16px;
        font-family: Roboto, system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans',
          'Liberation Sans', sans-serif;
        width: min-content;
        height: min-content;
        white-space: nowrap;
        flex-direction: column;
      }

      &__contact2 {
        color: #570695;
        font-size: 16px;
        font-family: Roboto, system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans',
          'Liberation Sans', sans-serif;
        width: min-content;
        height: min-content;
        white-space: nowrap;
        flex-direction: column;
      }

      &__frame10000025182 {
        width: min-content;
        height: min-content;
        align-items: center;
        gap: 4px;

        &__plus2 {
          color: #570695;
          font-size: 16px;
          font-family: Roboto, system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans',
            'Liberation Sans', sans-serif;
          width: min-content;
          height: min-content;
          white-space: nowrap;
          flex-direction: column;
        }

        &__vector2 {
          width: 8px;
          height: 4.9433px;
          overflow: visible;

          &__icon6 {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  &__line {
    width: 1170px;
    max-width: 100%;
    height: 0;
    max-height: 100%;
    overflow: visible;

    &__icon7 {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__footer2 {
    width: 1440px;
    height: min-content;
    justify-content: space-between;
    align-items: center;
    gap: 783px;
    padding: 0 135px 20px;

    &__copyright2024ChiizTousDroitsRe {
      color: #666;
      font-size: 14px;
      font-family: Roboto, system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
      letter-spacing: -0.01em;
      width: min-content;
      height: min-content;
      white-space: nowrap;
      flex-direction: column;
    }

    &__frame1000002519 {
      width: 129px;
      height: 23px;
      overflow: visible;

      &__icon8 {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__frame10000025192 {
      width: min-content;
      height: min-content;
      justify-content: center;
      align-items: center;
      gap: 20px;

      &__conditionsDUtilisation {
        color: #666;
        font-size: 14px;
        font-family: Roboto, system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans',
          'Liberation Sans', sans-serif;
        width: min-content;
        height: min-content;
        text-align: end;
        align-items: end;
        white-space: nowrap;
        flex-direction: column;
      }

      &__politiqueDeConfidentialite {
        color: #666;
        font-size: 14px;
        font-family: Roboto, system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans',
          'Liberation Sans', sans-serif;
        width: min-content;
        height: min-content;
        text-align: end;
        align-items: end;
        white-space: nowrap;
        flex-direction: column;
      }
    }
  }
}
