<Chiiz-header></Chiiz-header>
<div class="heroSection">
  <div class="heroSection__content">
    <div class="heroSection__content__heroImages">
      <div class="heroSection__content__heroImages__img1">
        <div class="heroSection__content__heroImages__img1__shapes">
          <img src="assets/shapes-icon.svg" alt="" class="heroSection__content__heroImages__img1__shapes__icon" />
        </div>
        
        <div class="heroSection__content__heroImages__img1__ellipse8">
          <img src="assets/ellipse-8-icon.svg" alt="" class="heroSection__content__heroImages__img1__ellipse8__icon2" />
        </div>
        <div class="heroSection__content__heroImages__img1__image871" [ngStyle]="{'background-image': 'url(' + pack.photobooth.photo + ')'}"></div>
        <div class="heroSection__content__heroImages__img1__secondaryBtn">
          <div class="heroSection__content__heroImages__img1__secondaryBtn__voirLesDetails">Voir les détails</div>
        </div>
      </div>
    </div>
    <div class="heroSection__content__applicantDetails">
      <div class="heroSection__content__applicantDetails__formulaireDeReservation">Formulaire de réservation</div>
      <div class="heroSection__content__applicantDetails__frame1000002534">
        <app-reservation-form [pack_selected]="pack"></app-reservation-form>
      </div>
    </div>
  </div>
</div>

<div class="topDestinationSafeTourLandingP">
  <div class="topDestinationSafeTourLandingP__topDestinationSafeTourLandingP2">
    <div class="topDestinationSafeTourLandingP__topDestinationSafeTourLandingP2__frame1000002522">
      <div class="topDestinationSafeTourLandingP__topDestinationSafeTourLandingP2__frame1000002522__texts">
        <div
          class="topDestinationSafeTourLandingP__topDestinationSafeTourLandingP2__frame1000002522__texts__autresSuggestions"
        >
          Autres Suggestions
        </div>
        <div
          class="topDestinationSafeTourLandingP__topDestinationSafeTourLandingP2__frame1000002522__texts__cesBornesSerontPeutEtreSuscept"
        >
          Ces bornes seront peut-être susceptible de vous intéresser également, jetez-y un coup d’œil !
        </div>
      </div>
      <button class="topDestinationSafeTourLandingP__topDestinationSafeTourLandingP2__frame1000002522__secondaryBtn2">
        <div
          class="topDestinationSafeTourLandingP__topDestinationSafeTourLandingP2__frame1000002522__secondaryBtn2__decouvrir"
        >
          Découvrir
        </div>
      </button>
    </div>
    <Chiiz-appareil></Chiiz-appareil>
    <!-- <Chiiz-appareil></Chiiz-appareil> -->
  </div>
</div>
<Chiiz-footer></Chiiz-footer>
