<Chiiz-header></Chiiz-header>

<div class="topDestinationSafeTourLandingP">
  <div class="topDestinationSafeTourLandingP__topDestinationSafeTourLandingP2">
    <div class="topDestinationSafeTourLandingP__topDestinationSafeTourLandingP2__texts">
      <div class="topDestinationSafeTourLandingP__topDestinationSafeTourLandingP2__texts__nosOffres">Nos Offres</div>
    </div>

    <div class="photo-slider-container">
      <div class="photo-slider" #slider>
        <div class="photo-container">
          <ng-container *ngFor="let pack of packs">
            <button class="slider-button" [routerLink]="['/pack', pack.id]">
              <div class="slider-card" [ngStyle]="{'background-image': 'linear-gradient(180deg, #fff0 0%, #57069596 100%), url(' + pack.photobooth.photo + ')'}">
                <div class="slider-texts">
                  <div class="slider-title">{{ pack.nom }}</div>
                  <div class="slider-description">{{ pack.photobooth.description }}</div>
                </div>
              </div>
            </button>
          </ng-container>
        </div>
      </div>
    </div>
    <!-- Pagination -->
    <div class="pagination">
      <button 
        *ngFor="let pack of packs; let i = index" 
        (click)="scrollToCard(i)"
      >
        {{ i + 1 }}
      </button>
    </div>
  </div>
</div>


  
<Chiiz-footer></Chiiz-footer>
